input {
  width: 384px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  background: #313849;
  border-radius: 4px;
  color: $accented;
  padding: 16px;
  box-sizing: border-box;
  border: none;

  &:focus {
    background: $input-active;
  }
}

input::placeholder {
  color: $hint;
  font-size: 18px;
}

.input-container {
  display: flex;
  width: 100%;
  margin: 16px 0;

  .material-icons {
    position: absolute;
    padding: 12px;
    color: $hint;
    width: 14px;
    text-align: center;
  }

  &.has-icon input {
    padding-left: 46px;
  }

  &.error {
    input, .material-icons {
      color: $error;
    }
  }
}
