.empty-list {
  .MuiSvgIcon-root {
    font-size: 4rem;
  }

  h2, .MuiSvgIcon-root {
    color: $technical;
  }
  &.diskSpace{
    padding: 3.5rem 0;
  }
  &.miningRewards{
    padding: 7.25rem 0;
  }
  &.nodeList{
    padding: 8rem 0;
  }
}
