label {
  text-transform: uppercase;
  color: $secondary;
  letter-spacing: 0.6px;
}

.logo-horizontal {
  background: url(../assets/images/logo-horizontal.svg) no-repeat;
  width: 310px;
  height: 50px;
}

.row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.row-spaced {
  display: flex;
  justify-content: space-between;
}

.self-centered {
  display: flex;
  align-self: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splitted-row {
  display: flex;
  flex-wrap: wrap;

  .column {
    width: 100%;

    @media #{$mq-medium} {
      width: 50%;
    }
  }
}

.no-line-height {
  line-height: 0;
}

.recharts-layer text tspan {
  color: #545F7C;
  font-size: 0.78rem;
}