.general-info {
  color: $accented !important;

  .node-options i {
    color: $secondary;
  }

  .general-info-stats {
    background: $elevation;
    display: flex;
    justify-content: space-between;

    .stat {
      margin: 0 1.5rem 0 0;

      label {
        font-size: 0.78rem;
        line-height: 1.33rem;
      }

      p {
        line-height: 1.33rem;
        font-weight: bold;
        margin: 0;
      }
    }
  }
}