@import "../../style/variables";

.balance{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 1.24rem 2rem !important;

  .yellow {
    margin: 0 0 0 1rem;
    line-height: 3.3rem;
  }
}
